---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Skills from "../components/Skills.astro";
import Certifications from "../components/Certifications.astro";
import Projects from "../components/Projects.astro";
import TechVisualization from "../components/TechVisualization.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Experience />
    <Skills />
    <TechVisualization />
    <Certifications />
    <Projects />
  </main>
  <Footer />
</Layout>
